## DCRequestAPI Pyramid
PYRAMID_PORT=6553
URL_SCHEME=https
URL_PREFIX=/dcrequestapi

MULTI_THREADED_GETTER=True

## DC source databases
DS1_ACCRONYM=
DS1_SERVER=
DS1_DATABASE=
DS1_PORT=
DS1_DRIVER=
DS1_UID=
DS1_PASSWORD=

# add more source databases here and the according placeholders in config.ini.template if you need
DS2_ACCRONYM=
DS2_SERVER=
DS2_DATABASE=
DS2_PORT=
DS2_DRIVER=
DS2_UID=
DS2_PASSWORD=

## MySQL (used in MySQL setup and in authentication_db)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=DWB_Session_Auth
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=db
MYSQL_PORT=3306

## MySQL TaxaMergerDB (used for setting up a TaxaMergerDB)
SKIP_TAXA_MERGER_DB=True
TAXA_MERGER_DB=TaxaMergerDB_Test


## ES URL for DCRequestAPI
ES_URL=https://es03:9200/
ES_USER=elastic
# Password in ELASTIC_PASSWORD below


# ES Cluster, images from elasticsearch
# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products
STACK_VERSION=8.12.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
#ES_PORT=9200
ES_PORT=127.0.0.1:9202

# Port to expose Kibana to the host
KIBANA_PORT=5601
#KIBANA_PORT=80

# Increase or decrease based on the available host memory (in bytes)
MEM_LIMIT=1073741824

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject
