config.ini
*.log
**/__pycache__/**
**/*.pyc
*.egg-info/*
**/data/**
docker/dcrequestapi/data/**
**/SQLDumps/*.sql
**/TaxaMergerDB_Dump/**
*.env
*.*~
**/.db_and_es_data/**
.idea
**/.venv/**
**/.idea
.venv/
venv/
out.json
