.filter-select-box {
	margin-right: 1rem;
}

.filter-select-box summary {
	font-size: small;
}

.filter-select-box details {
	font-size: small;
}

#filter_sections_header h4,
#filter_sections_header details,
#hierarchy_filter_sections_header h4 {
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

