.filter-select-box {
	margin-right: 1rem;
}

.filter-select-box summary {
	font-size: small;
}

.filter-select-box details {
	font-size: small;
}

#filter_sections_header h4,
#filter_sections_header details {
	margin-top: 1em;
	margin-bottom: 1em;
}
