.flex {
	display: flex;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 1em;
}

.flex-start-no-margin {
	display: flex;
	justify-content: flex-start;
}

.flex-start-nowrap {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.flex-start-nowrap div {
	margin-right: 1em;
	margin-bottom: 1em;
}

.flex-start div {
	margin-right: 1em;
	margin-bottom: 1em;
}

.flex-end-no-margin {
	display: flex;
	justify-content: flex-end;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	flex-wrap: wrap;
}

.flex-space-between-no-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.flex-space-between-no-margin {
	display: flex;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-row-start {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}

.align-self-center {
	align-self: center;
}

.align-self-last-baseline {
	align-self: last baseline;
}

.align-self-first-baseline {
	align-self: first baseline;
}

.margin-left-2em {
	margin-left: 2em;
}

.padding-1em {
	padding: 1em;
}


