
h1 {
	font-size: 1em;
	line-height: 0.8em;
}


#accounts {
	display: flex;
	justify-content: space-between;
	margin: 2em;
}


a {
	text-decoration: none;
	color: darkblue;
}

a:visited {
	text-decoration: none;
	/*color: darkgrey;*/
}



#pageheader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
	width: 95%;
	border: none;
}

#navigation {
	display: flex;
	justify-content: right;
}


#navigation>div,
#navigation>span {
	margin-left: 1em;
}


label{
	font-size: small;
}


.font_08em {
	font-size: 0.8em;
}


input{
	font-size: 10pt;
}


.suggestions_list {
	position: absolute;
	z-index: 10;
	background-color: white;
	border-width: 0.1rem;
	border-style: solid;
	border-color: black;
}

.message{
	border: 2px;
	border-style: solid;
	padding-left: 1em;
	padding-right: 1em;
}



.message.success{
	border-color: green;
}

.message.error{
	border-color: red;
}

.message-box-top-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 300;
	background-color: white;
}

.login_form {
	width: 40%; 
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.w25 {
	display: inline-block;
	width: 10em;
}

.w75 {
	display: inline-block;
	min-width: 20em;
}

.definitions {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.ul-no-bullet {
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
}

.clickable {
	cursor: pointer;
}


#selectable_filters {
	min-width: 20rem;
	max-width: 25rem;
}

#results_iuparts {
	height: 60vh;
}

.align-items-center {
	align-items: center;
}

.no-whitespace-wrap {
	white-space: nowrap;
}

.width-8em {
	width: 8em;
}

.add_subsearch_label {
	padding: 4px;
	background-color: #eeeeeeff;
	border-radius: 4px;
	border: 1px solid;
	border-color: gray;
	overflow: hidden;
}

.add_subsearch_label:hover {
	background-color: lightgray;
}
