.listview {
	overflow: auto;
	height: 100%;
	width: 100%;
}

.listview table {
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
}

.listview th {
	position: sticky;
	top: 0px;
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

.listview tr {
	padding-bottom: 0em;
}

.listview td {
	vertical-align: top;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-bottom: 1px solid #ddd;
}

.listview td table,td td,td th {
	border: none;
	padding: 0.1em;
	vertical-align: baseline;
}

.listview tr:nth-child(even){background-color: #f2f2f2;}

.listview .imagecol {
	width: 150px;
}

.listview .imagecol img{
	width: 150px;
}

.noImageMessage {
	font-size: 8pt;
	color: #aaa;
	display: none;
}

.page_radiobutton {
	visibility: hidden;
	/* image replacement for screen-readers according to: https://wiki.selfhtml.org/wiki/CSS/Tutorials/Hintergrund/Image_Replacement */
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.page_radiobutton_label {
	color: blue;
	cursor: pointer;
}

.td_list.y-scroll{
	height: 5em;
	overflow-y: scroll;
	z-index: 0;
}

.td_list.y-overlap{
	height: 5em;
	overflow-y: visible;
	z-index: 5;
	background: white;
}

.td_list p {
	margin-top: 0;
	margin-bottom: 0.4em;
}

.td_list_button {
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
}
