/* css for master.pt 
 * should not contain any elements or classes that are not in master.pt
 */

/* the grid layout 
 * taken over from https://wiki.selfhtml.org/wiki/CSS/Tutorials/Grid/Einf%C3%BChrung#Holy-Grail-Layout
 * */
body {
	display: grid;
	gap: 1em;
	font-family: sans-serif;
	font-size: small;
	margin: 1em;
}

@media (min-width: 30em) { 
	body {
		grid-template-columns: 1fr minmax(30em, auto);
	}
}

header, message_box, search_box, footer {
	grid-column: 1 / -1;
}

#title_header {

}

#title_image {
	width: 100%;
	/*overflow-x: hidden;*/
}

#loading_overlay {
	background: none repeat scroll 0 0;
	height:100%;
	width:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:199;
}

#loading_overlay_image {
	background: url(../images/loading.gif) repeat scroll 0 0;
	height:300px;
	width:300px;
	position: fixed;
	right: 50%;
	top: 50%;
	z-index:200;
}
