
.overlay-header {
	position: sticky;
	top: 0;
	background: #fffbf0; 
}

.overlay-headline {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.overlay {
	width: 60%;
	background: #fffbf0; 
	border: thin solid #e7c157;
	position: absolute;
	top: 30%;
	left: 10%;
	margin: auto;
	z-index: 10;
}

.selectable-items-list {
	overflow: auto;
	height: 20em;
}

.selectable-items-list ul {
	margin-bottom: 0.5em;
	display: flex;
	/*flex-direction: column;*/
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}

.overlay li {
	width: 15em;
	margin-right: 0.5em;
}

